/* Footer Rules */

footer {
    display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: $main-bg-color;
	color: #fff;
    padding: 20px 0;
    
    & .footer-description {
        text-transform: uppercase;
        font-size: 14px;
        opacity: 0.6;
        align-self: center;
        
        @mixin atLarge {
            text-align: center;
		    margin-bottom: 20px;
        }
    }

    & .social-icons {
        list-style-type: none;
        display: flex;

        &--icon {
            margin-left: 16px;
            
            @mixin atLarge {
                margin: 0 8px;
            }
        }
    }
    
    @mixin atLarge {
        flex-direction: column;
    }
}