section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;

    &:not(.hero):nth-child(even) {
        background-color: $secondary-bg-color;
    }
    
    @mixin atMedium {
        padding: 50px 20px;
    }
}