

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font: normal 16px sans-serif;
    color: #555;
}
a {
    text-decoration: none;
    opacity: .75;
    color: #fff;
}
a:hover {
        opacity: 1;
    }
hr {
    width: 250px;
    height: 3px;
    background-color: #3f51b5;
    border: 0;
    margin-bottom: 50px;
}
/* Keyframes To Control The Animation */
@-webkit-keyframes fadein {
    100% {
        opacity: 1;
    }
}
@keyframes fadein {
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}
@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}
/* Header Styles */
header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    -webkit-animation: 1s fadein .5s forwards;
            animation: 1s fadein .5s forwards;
    opacity: 0;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}
section:not(.hero):nth-child(even) {
        background-color: #f5f5f5;
    }
/* Footer Rules */
footer {
    display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #607d8b;
	color: #fff;
    padding: 20px 0;
}
footer .footer-description {
        text-transform: uppercase;
        font-size: 14px;
        opacity: 0.6;
        align-self: center;
    }
footer .social-icons {
        list-style-type: none;
        display: flex;
    }
footer .social-icons--icon {
            margin-left: 16px; 
        }
.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #8c9eff;
    opacity: 1;
}
.btn__normal {
        padding: 20px 46px;
    }
/* Header Logo Rules */
.header-logo {
    font-family: "Quicksand", sans-serif;
}
.main-navigation {
    list-style-type: none;
    display: flex;
    margin-right: -15px;
}
.main-navigation--item {
        margin: 0 15px;
    }
/* Hero Section Styles */
.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
}
.hero--bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: -1;
        background-color: #80a3db;
    }
.hero--content{

        opacity: 0;
        margin-top: 100px;
        -webkit-animation: 1s slidefade 1s forwards;
                animation: 1s slidefade 1s forwards;

    }
.hero--content--title {
            font: bold 60px "Open Sans", sans-serif;
            margin-bottom: 15px;
        }
.hero--content--subtitle {
            font: normal 28px "Open Sans", sans-serif;
            margin-bottom: 40px;
        }
/* Block Sections Rules */
.block--title {
        text-transform: uppercase;
        font: bold 32ox "Open Sans", sans-serif;
        margin-bottom: 30px;
        text-align: center;
    }
.block--description {
        max-width: 775px;
        line-height: 2;
        padding: 0 20px;
        margin-bottom: 30px;
        text-align: center;
    }
/* Image Grid For Destinations Section */
.img-grid {

    width: 100%;
}
.img-grid--list-group {
        list-style-type: none;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
.img-grid--list-item {
        height: 350px;
        padding: 20px;
        background-clip: content-box;
        background-size: cover;
        background-position: center;
    }
.img-grid--list-item__small {
            flex-basis: 30%;
        }
.img-grid--list-item__large {
            flex-basis: 70%;
        }
/* Icon Grid Rules */
.icon-grid {
    width: 100%;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}
.icon-grid--icon {
        padding: 50px;
        flex-basis: 50%;
        text-align: center;
    }
.icon-grid--icon i {
            color: #8c9eff;
        }
.icon-grid--icon--title {
            font-size: 30px;
            margin: 25px 0;
        }
/* Testimonials Rules */
.testimonials {

    width: 100%;
}
.testimonials--quote {
        font-size: 22px;
        font-weight: 300;
        line-height: 1.5;
        margin: 40px 0 25px; 
    }
.testimonials--author {
        text-align: center;
    }
/* Contact Form Rules */
.contact-form {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}
.contact-form .btn {
        padding: 18px 42px;
    }
.contact-form input {
        padding: 15px;
        margin-right: 30px;
        font-size: 18px;
        color: #555;
        flex: 1;
    }