

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font: normal 16px sans-serif;
    color: #555;
}
a {
    text-decoration: none;
    opacity: .75;
    color: #fff;
}
a:hover {
        opacity: 1;
    }
hr {
    width: 250px;
    height: 3px;
    background-color: #3c1053;
    border: 0;
    margin-bottom: 50px;
}
/* Keyframes To Control The Animation */
@-webkit-keyframes fadein {
    100% {
        opacity: 1;
    }
}
@keyframes fadein {
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}
@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}
@-webkit-keyframes rotateRight {
    0% {
        -webkit-transform: rotateZ(0);
                transform: rotateZ(0);
    }

    50% {
        -webkit-transform: rotateZ(30deg);
                transform: rotateZ(30deg);
    }

    100% {
        -webkit-transform: rotateZ(0);
                transform: rotateZ(0); 
    }
}
@keyframes rotateRight {
    0% {
        -webkit-transform: rotateZ(0);
                transform: rotateZ(0);
    }

    50% {
        -webkit-transform: rotateZ(30deg);
                transform: rotateZ(30deg);
    }

    100% {
        -webkit-transform: rotateZ(0);
                transform: rotateZ(0); 
    }
}
@-webkit-keyframes scaleItem {

    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        -webkit-transform: scale(.85);
                transform: scale(.85);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes scaleItem {

    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        -webkit-transform: scale(.85);
                transform: scale(.85);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
/* Header Styles */
header {
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    -webkit-animation: 1s fadein .5s forwards;
            animation: 1s fadein .5s forwards;
    opacity: 0;
}
@media screen and (max-width: 800px) {
header {
        padding: 20px 50px;
		flex-direction: column
}
    }
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}
section:not(.hero):nth-child(even) {
        background-color: #F5F5F5;
    }
@media screen and (max-width: 800px) {
section {
        padding: 50px 20px
}
    }
/* Footer Rules */
footer {
    display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #ad5389;
	color: #fff;
    padding: 20px 0;
}
footer .footer-description {
        text-transform: uppercase;
        font-size: 14px;
        opacity: 0.6;
        align-self: center;
    }
@media screen and (max-width: 1100px) {
footer .footer-description {
            text-align: center;
		    margin-bottom: 20px
    }
    }
footer .social-icons {
        list-style-type: none;
        display: flex;
    }
footer .social-icons--icon {
            margin-left: 16px;
        }
@media screen and (max-width: 1100px) {
footer .social-icons--icon {
                margin: 0 8px
        }
    }
@media screen and (max-width: 1100px) {
footer {
        flex-direction: column
}
    }
.btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background: #ad5389;
    background: linear-gradient(to bottom, #ad5389, #3c1053);
    width: 350px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    box-shadow: 0 6px #191970;
    border-radius: 20px;
    opacity: 1;
}
.btn:hover {
        box-shadow: 0 4px #191970;
	    top: 2px;
    }
.btn:active {
        box-shadow: 0 0 #191970;
	    top: 6px;
    }
.btn__normal {
        padding: 20px 46px;
    }
@media screen and (max-width: 800px) {
.btn__normal {
            padding: 15px 40px
    }
    }
/* Header Logo Rules */
.header-logo {
    font-family: "Quicksand", sans-serif;
}
@media screen and (max-width: 800px) {
.header-logo {
        margin-bottom: 15px
}
    }
.main-navigation {
    list-style-type: none;
    display: flex;
    margin-right: -15px;
}
.main-navigation--item {
        margin: 0 15px;
    }
/* Hero Section Styles */
.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
}
.hero--bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: -1;
        background-color: #80a3db;
    }
.hero--content{

        opacity: 0;
        margin-top: 100px;
        -webkit-animation: 1s slidefade 1s forwards;
                animation: 1s slidefade 1s forwards;

    }
.hero--content--title {
            font: bold 60px "Open Sans", sans-serif;
            margin-bottom: 15px;
        }
@media screen and (max-width: 800px) {
.hero--content--title {
                font-size: 48px
        }
    }
.hero--content--subtitle {
            font: normal 28px "Open Sans", sans-serif;
            margin-bottom: 40px;
        }
@media screen and (max-width: 800px) {
.hero--content--subtitle {
                font-size: 24px
        }
    }
@media screen and (max-width: 800px) {
.hero {
        min-height: 600px
}
    }
/* Block Sections Rules */
.block--title {
        text-transform: uppercase;
        font: bold 32ox "Open Sans", sans-serif;
        margin-bottom: 30px;
        text-align: center;
    }
.block--description {
        max-width: 775px;
        line-height: 2;
        padding: 0 20px;
        margin-bottom: 30px;
        text-align: center;
    }
/* Image Grid For Destinations Section */
.img-grid {

    width: 100%;
}
.img-grid--list-group {
        list-style-type: none;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        -webkit-perspective: 900px;
                perspective: 900px;
    }
.img-grid--list-item {
        height: 350px;
        padding: 20px;
        position: relative;
        background-clip: content-box;
        background-size: cover;
        background-position: center;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
    }
.img-grid--list-item img {
            width: 100%;
            height: 100%;
        }
.img-grid--list-item--face {
            position: absolute;
            top: 2%;
            left: 2%;
            width: 98%;
            height: 98%;
            -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
            background-clip: content-box;
            background-size: cover;
            background-position: center;
            transition: -webkit-transform 0.5s .3s ease-in-out;
            transition: transform 0.5s .3s ease-in-out;
            transition: transform 0.5s .3s ease-in-out, -webkit-transform 0.5s .3s ease-in-out;
        }
.img-grid--list-item--face__front {
                box-shadow: 0 8px 6px -6px #000;
                -webkit-transform: rotateY(0);
                        transform: rotateY(0);
            }
.img-grid--list-item--face__back {
                background: #F5F5F5;
                box-shadow: 0 8px 6px -6px #000;
                -webkit-transform: rotateY(180deg);
                        transform: rotateY(180deg);
            }
.img-grid--list-item__small {
            flex-basis: 40%;
        }
@media screen and (max-width: 1100px) {
.img-grid--list-item__small {
               flex-basis: 50%
        }
    }
@media screen and (max-width: 800px) {
.img-grid--list-item__small {
               flex-basis: 100%
        }
    }
.img-grid--list-item__large {
            flex-basis: 60%;
        }
@media screen and (max-width: 1100px) {
.img-grid--list-item__large {
               flex-basis: 50%
        }
    }
@media screen and (max-width: 800px) {
.img-grid--list-item__large {
               flex-basis: 100%
        }
    }
/* Icon Grid Rules */
.icon-grid {
    width: 100%;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}
.icon-grid--icon {
        padding: 50px;
        flex-basis: 50%;
        text-align: center;
    }
.icon-grid--icon svg {
            fill: #ad5389;
            width: 78px;
        }
.icon-grid--icon:hover .icon-grid--icon__animated__compass{
            -webkit-animation: rotateRight 2s infinite ease-in;
                    animation: rotateRight 2s infinite ease-in;
        }
.icon-grid--icon__animated__compass {
            -webkit-transform-origin: 50% 55%;
                    transform-origin: 50% 55%;
        }
.icon-grid--icon:hover .icon-grid--icon__animated__photo {
            -webkit-animation: scaleItem 2s infinite ease-in;
                    animation: scaleItem 2s infinite ease-in;
        }
.icon-grid--icon__animated__photo {
            -webkit-transform-origin: 50% 50%;
                    transform-origin: 50% 50%;
        }
.icon-grid--icon--title {
            font-size: 30px;
            margin: 25px 0;
        }
@media screen and (max-width: 800px) {
.icon-grid--icon {
            flex-basis: 100%
    }
    }
/* Testimonials Rules */
.testimonials {

    width: 100%;
}
.testimonials--quote {
        font-size: 22px;
        font-weight: 300;
        line-height: 1.5;
        margin: 40px 0 25px;
    }
@media screen and (max-width: 800px) {
.testimonials--quote {
            font-size: 18px;
		    margin: 15px 0
    }
    }
.testimonials--author {
        text-align: center;
    }
@media screen and (max-width: 800px) {
.testimonials--author {
            font-size: 14px
    }
    }
/* Contact Form Rules */
.contact-form {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}
.contact-form .btn {
        padding: 18px 42px;
    }
.contact-form input {
        padding: 15px;
        margin-right: 30px;
        font-size: 18px;
        color: #555;
        flex: 1;
    }
@media screen and (max-width: 800px) {
.contact-form input {
            flex-basis: 100%;
            margin: 0 0 20px 0
    }
    }