.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #3fb1b5;
    opacity: 1;

    &__normal {
        padding: 20px 46px;
    }
}