.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: $main-btn-color;
    opacity: 1;

    &__normal {
        padding: 20px 46px;
        
        @mixin atMedium {
            padding: 15px 40px;
        }
    }
}