/* Icon Grid Rules */

.icon-grid {
    width: 100%;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    
    &--icon {
        padding: 50px;
        flex-basis: 50%;
        text-align: center;

        & svg {
            fill: #ad5389;
            width: 78px;
        }

        &:hover .icon-grid--icon__animated__compass{
            animation: rotateRight 2s .3s infinite ease-in;
        }

        &__animated__compass {
            transform-origin: 50% 55%;
        }

        &:hover .icon-grid--icon__animated__photo {
            animation: scaleItem 2s .3s infinite ease-in;
        }

        &__animated__bicycle {
            transform-origin: 50% 50%;
        }

        &:hover .icon-grid--icon__animated__bicycle {
            animation: moveRight 2s .3s infinite ease-in;
        }

        &__animated__flag {
            transform-origin: 50% 50%;
        }

        &:hover .icon-grid--icon__animated__flag {
            animation: wave 2s .3s infinite ease-in;
        }

        &__animated__photo {
            transform-origin: 50% 50%;
        }

        &--title {
            font-size: 30px;
            margin: 25px 0;
        }


        
        @mixin atMedium {
            flex-basis: 100%;
        }
    }
}