/* Image Grid For Destinations Section */

.img-grid {

    width: 100%;

    &--list-group {
        list-style-type: none;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        perspective: 900px;
    }

    &--list-item {
        height: 350px;
        padding: 20px;
        position: relative;
        background-clip: content-box;
        background-size: cover;
        background-position: center;
        transform-style: preserve-3d; 

        & img {
            width: 100%;
            height: 100%;
        }

        &--face {
            position: absolute;
            top: 2%;
            left: 2%;
            width: 98%;
            height: 98%;
            backface-visibility: hidden;
            background-clip: content-box;
            background-size: cover;
            background-position: center;
            transition: transform 0.5s .3s ease-in-out;

            &__front {
                box-shadow: 0 8px 6px -6px #000;
                transform: rotateY(0);
            }

            &__back {
                background: $secondary-bg-color;
                box-shadow: 0 8px 6px -6px #000;
                transform: rotateY(180deg);

                &--description {
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 50px;
                    font-weight: 200;
                    font-size: 1.1rem;

                    @mixin atLarge {
                        max-width: 90%;
                    }
                }

                &--subtitle {
                    display: block;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 50px;
                    font-size: .9rem;
                    font-style: italic;
                    text-align: center;
                    color: #000;

                    @mixin atLarge {
                        max-width: 90%;
                    }
                }
            }
        }

        &__small {
            flex-basis: 40%;
            
            @mixin atLarge {
               flex-basis: 50%; 
            }
            
            @mixin atMedium {
               flex-basis: 100%;  
            }
        }

        &__large {
            flex-basis: 60%;
            
            @mixin atLarge {
               flex-basis: 50%; 
            }
            
            @mixin atMedium {
               flex-basis: 100%;  
            }
        }
    }
}