/* Main navigaion rules */

.main-navigation {
    list-style-type: none;
    display: flex;
    margin-right: -15px;
    transform: translateY(-50px);

    @mixin atMedium {

        transform: translateY(0);
    }

    &--item {
        margin: 0 15px;
    }
}
